*.o
*.a
*.s
*.su
*.ko
*.obj
*.elf
*.bin
*.bin.lzma
*.img
*.rec
*.srec
*.swp
*.map
*.sym
*.depend
*.cmd
*.lst
*.log
*.pyc
*.patch
*.gdb
*.bflt
*.elf
*.lds
*.cfg
*.cfg.configs
*.dtb
*.dtb.d.*
*.dtb.pre.tmp
*.dts.tmp
*.out
*.bak
*.tmp
*.S

u-boot
u-boot*
uImage*
MLO*
SPL
System.map
.config
.config.old
.tmp_versions
modules.order
Module.symvers
.*.cmd
.*.d
.cache.mk
.depend
Makefile.spl

build/
spl/
include/config/
include/generated/
include/autoconf.mk
include/autoconf.mk.dep
include/config.h
scripts/basic/
scripts/dtc/
scripts/kconfig/
tools/
examples/standalone/hello_world

